
	<table class="table table-hover table-bordered table-striped">
		<thead>
		<tr>
			<th>Username</th>
			<th>Comment</th>
			<th>Hashtags</th>
			<th>Links</th>
			<th>Created at</th>
			<th>Location</th>
		</tr>
	</thead>
		<tbody>
         <% tweets.each do |tweet| %>
			<tr>
			<td><%= tweet.user %></td>
			<td><%= tweet.text %></td>
			<td><%= tweet.hashtags %></td>
			<td><%= tweet.links %></td>
			<td><%= tweet.created_at %></td>
			<td><%= tweet.location %></td>
			</tr>
         <% end %>
		</tbody>
	</table>


